<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="icon" href="./public/icons/coffee-icon.svg" type="image/svg+xml">

        <title>mastodon client</title>

        <link rel="stylesheet" href="./public/main.css">
    </head>

    <body>
        <div class="progress hidden">
            <div class="progress-bar"></div>
        </div>
        _BODY_
        <div class="filler"></div>

        <script type="module" src="./js/masto.es.js"></script>
        <script nomodule src="./js/masto.umd.js"></script>
    </body>
</html>
